:root {
  /* --primary-color: #011d28;
    --secondary-color: #22dcfd;
    --accent-color: #1490a8; */
  --body-color: #161c2d;
  --body-font: 1.6rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
  color: var(--body-color);
  font-size: var(--body-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
  font-weight: 600;
}

/* Navbar */
.navbar-custom {
  z-index: 999;
  background-color: transparent;
  border: 0;
}

.navbar-custom .logo {
  color: #343a40;
  font-weight: 700;
  font-size: 2.2rem;
  letter-spacing: 1px;
}

.navigation .nav-link {
  color: #343a40;
  font-size: 2rem;
  background-color: transparent !important;
  margin: 0 8px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.nav-social {
  display: none;
}

@media screen and (min-width: 1024px) {
  .nav-social {
    display: block;
  }
}

/* hero */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  max-height: 280px;
  margin-bottom: 20px;
  padding-left: 20px;
}

.image-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: fill;
}
