:root {
  --primary-color: #232946;
  --secondary-color: #b8c1ec;
  --accent-color: #eebbc3;
  --headline-color: #fffffe;
  --body-font: 1.6rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: var(--secondary-color);
  font-size: var(--body-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
  font-weight: 600;
}

a {
  color: var(--headline-color);
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
}

.custom-bg-primary {
  background: var(--primary-color);
}

.custom-bg-secondary {
  background: var(--secondary-color);
}

.custom-bg-accent {
  background: var(--accent-color);
}

/* Navbar */
.navbar-custom {
  z-index: 999;
  background-color: var(--primary-color);
  border: 0;
}

.navbar-custom .logo {
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 1px;
}

.navbar-toggler {
  color: var(--headline-color);
}

.navigation .nav-link {
  color: var(--headline-color);
  font-size: 2rem;
  background-color: transparent !important;
  margin: 0 8px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.navigation .nav-link:hover {
  color: var(--secondary-color);
}

.nav-social {
  display: none;
}

.list-inline-item > a {
  text-decoration: none;
}

.content a {
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  .nav-social {
    display: block;
  }
}

.block {
  padding-top: 4.8rem;
  padding-bottom: 5rem;
}

.block-heading {
  font-size: 3.5rem;
}

/* About */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  max-height: 270px;
  margin: 5px 0 25px 0;
  padding-left: 20px;
}

.image-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: fill;
}

/* Services */
.custom-card-icon {
  position: absolute;
  left: 40%;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background-color: #d5dce2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 5px;
}

.custom-card-icon img {
  width: 50%;
  height: 50%;
}

/*  TechStack */
.skill-icon {
  width: 75px;
  height: 75px;
}

.skill-icon img {
  width: 40px;
}

.skill-badge {
  cursor: pointer;
  /* width: 2rem; */
  height: 18px;
  position: absolute;
  left: 55%;
  top: 13%;
}

.image-container .image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .image-container {
    position: relative;
  }

  .image-container .image {
    position: absolute;
    right: 30px;
    top: 22rem;
    width: 320%;
  }

  .custom-padding-right {
    padding-right: 8rem;
  }

  .custom-padding-left {
    padding-left: 8rem;
  }
}

@media screen and (min-width: 1024px) {
  .image-container {
    position: relative;
  }

  .image-container .image {
    position: absolute;
    right: -10px;
    top: 10rem;
    width: 320%;
  }

  .custom-padding-right {
    padding-right: 8rem;
  }

  .custom-padding-left {
    padding-left: 8rem;
  }
}

/* Projects */
.showcase {
  position: relative;
  /* width: 450px; */
  height: 350px;
}

.showcase .card-body-text {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.img-fluid:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

.showcase .card-body-text a {
  text-decoration: none;
}

.showcase .card-body-text .title {
  font-size: 1.5rem;
}

.showcase .tag {
  color: var(--primary-color);
  font-size: 1.5rem;
}

.showcase .tag:hover {
  cursor: pointer;
  font-size: 1.7rem;
  transition: font-size 0.3s;
  font-weight: bold;
}

/* footer */
.footer .block-heading,
hr {
  color: var(--headline-color);
}
