<!-- About  -->
<section id="about" class="pt-5">
  <div class="block container">
    <header class="block-header text-center">
      <h2 class="block-heading">About Me</h2>
    </header>

    <div class="row d-flex justify-content-center">
      <div class="col-md-5 col-12 text-center text-md-left image-container">
        <img src="images/evans_asiedu_des.png" alt="Evans Kesse Asiedu" />
      </div>

      <div
        class="col-md-7 col-12 text-justify text-center text-md-start pt-md-5 ms-md-5"
      >
        <h3 class="mb-5">Hey, I'm Evans</h3>
        <p>
          Driven Frontend Developer with 2+ years of experience in building
          responsive and scalable web applications. I help companies create
          high-performing and user-friendly interfaces that boost user
          engagement and retention.
          <br />
          I get excited about opportunities where I can leverage my React and
          Next.js expertise to solve complex problems and build impactful
          digital experiences.
          <br />
          In addition, I love connecting with new people. Reach out and let's
          talk.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End of About -->
