<!-- About  -->
<section id="about" class="pt-5">
  <div class="block container">
    <header class="block-header text-center">
      <h2 class="block-heading">About Me</h2>
    </header>

    <div class="row d-flex justify-content-center">
      <div class="col-md-5 col-12 text-center text-md-left image-container">
        <img src="images/evans_asiedu_des.png" alt="Evans Kesse Asiedu" />
      </div>

      <div
        class="col-md-7 col-12 text-justify text-center text-md-start pt-md-5 ms-md-5"
      >
        <h3 class="mb-5">Hey, I'm Evans</h3>
        <p>
          I'm a results-driven Software Developer with 3+ years of experience
          building responsive, scalable web and mobile applications that align
          with business goals. I specialize in developing clean, high-performing
          applications that not only enhance the user experience but also
          support customer engagement, retention, and conversion. With a solid
          background in application development, API development & integration
          and performance optimization, I help businesses deliver fast,
          reliable, and impactful digital products.
          <br />
          I get excited about opportunities where I can leverage my technical
          expertise (React.js, Next.js, Node.js, Spring Boot, React Native,
          Flutter) to solve complex problems and build impactful digital
          experiences.
          <br />
          In addition, I love connecting with new people. Reach out and let's
          talk.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End of About -->
