<!-- About  -->
<div class="container about-section" id="about">
  <header class="block-header text-center">
    <h1>About Me</h1>
    <h3>The engineer from within</h3>
  </header>

  <div class="row d-flex justify-content-center">
    <div class="col-md-5 col-12 text-center text-md-left image-container">
      <img src="images/evans_asiedu_des.png" alt="Evans Kesse Asiedu" />
    </div>

    <div
      class="col-md-7 col-12 text-justify text-center text-md-start pt-md-5 ms-md-5"
    >
      <p>
        I am a software engineer with over 5 years of experience in developing
        web applications, web map applications, and a variety of APIs. I have a
        passion for building software solutions that solve real-world problems.
        I adapt as needed and acquire the necessary skills to complete the task
        at hand. I am a 'techkie' and always looking for ways to improve my
        skills and knowledge in the field of software development. I am also a
        break dancer and calisthenics enthusiast. I love to dance and keep fit.
        I love to break dance and train individuals and groups, and also keep
        fit with some cool calisthenics.
      </p>
    </div>
  </div>
</div>
<!-- End of About -->
