<!-- Contact Start -->
<section class="block" id="contact">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <div class="container-title text-center mb-4 pb-2">
          <div class="titles">
            <h2 class="block-heading title text-capitalize mb-4">Contact Me</h2>
            <p class="pera-title para-desc-600 text-light-muted mb-0 mx-auto">
              Do not hesitate to contact me for all your projects needs. Reach
              out now let's start an awesome partnership.
            </p>
            <span></span>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->

    <div class="row">
      <div class="col-md-4 mt-4 pt-2">
        <div class="contact-detail text-center">
          <div class="icon">
            <i class="bi bi-telephone fs-1"></i>
          </div>
          <div class="content mt-4">
            <h3 class="title">Phone</h3>
            <p class="text-light-muted">
              I am a call away for your next project or as your next hire.
            </p>
            <a href="tel:+233541456349" class="text-primary"
              >+233 54 1456 349</a
            >
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-md-4 mt-4 pt-2">
        <div class="contact-detail text-center">
          <div class="icon">
            <i class="bi bi-envelope fs-1"></i>
          </div>
          <div class="content mt-4">
            <h3 class="title">Email</h3>
            <p class="text-light-muted">
              Email me on any projects you have in mind and let's get the
              discussions going.
            </p>
            <a href="mailto:evansasiedu352@gmail.com" class="text-primary"
              >evansasiedu352@gmail.com</a
            >
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-md-4 mt-4 pt-2">
        <div class="contact-detail text-center">
          <div class="icon">
            <i class="bi bi-geo-alt fs-1"></i>
          </div>
          <div class="content mt-4">
            <h3 class="title">Location</h3>
            <p class="text-light-muted">
              Takoradi, <br />
              Western Region, Ghana.
            </p>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!-- End of contact -->
