<!-- Navbar Start -->
<nav
  id="navbar"
  class="navbar navbar-expand-lg fixed-top navbar-custom navbar-light bg-light sticky"
>
  <div class="container">
    <!-- Logo container-->
    <a class="block-heading mt-1 mt-md-0 logo navbar-brand" href="#"
      >Portfolio</a
    >

    <button
      class="me-3 navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="bi bi-list"></i></button
    ><!--end button-->

    <div class="collapse navbar-collapse navigation" id="navbarCollapse">
      <ul id="navbar-navlist" class="navbar-nav navbar-nav-link ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#home">Home</a>
        </li>
        <!--end nav item-->
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <!--end nav item-->
        <li class="nav-item">
          <a class="nav-link" href="#resume">Resume</a>
        </li>
        <!--end nav item-->
        <li class="nav-item">
          <a class="nav-link" href="#projects">Projects</a>
        </li>
        <!--end nav item-->
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>

      <ul
        class="top-right text-right list-inline mb-0 mt-2 mt-sm-0 ms-md-5 nav-social"
      >
        <li class="list-inline-item ms-3">
          <a href="https://github.com/Evans-Asiedu" target="_blank"
            ><i class="bi bi-github"></i
          ></a>
        </li>
        <li class="list-inline-item ms-3">
          <a
            href="https://www.linkedin.com/in/evans-kesse-asiedu/"
            target="_blank"
            ><i class="bi bi-linkedin"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
  <!--end container-->
</nav>
<!-- Navbar End -->

<!-- About  -->
<section id="about">
  <div class="block container">
    <header class="block-header text-center">
      <h2 class="block-heading">About Me</h2>
      <h3>The engineer from within</h3>
    </header>

    <div class="row d-flex justify-content-center">
      <div class="col-md-5 col-12 text-center text-md-left image-container">
        <img src="images/evans_asiedu_des.png" alt="Evans Kesse Asiedu" />
      </div>

      <div
        class="col-md-7 col-12 text-justify text-center text-md-start pt-md-5 ms-md-5"
      >
        <p>
          I am a software engineer with over 5 years of experience in developing
          web applications, web map applications, and a variety of APIs. I have
          a passion for building software solutions that solve real-world
          problems. I adapt as needed and acquire the necessary skills to
          complete the task at hand. I am a 'techkie' and always looking for
          ways to improve my skills and knowledge in the field of software
          development. I am also a break dancer and calisthenics enthusiast. I
          love to dance and keep fit. I love to break dance and train
          individuals and groups, and also keep fit with some cool calisthenics.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End of About -->

<!-- Tech Stack -->
<section class="bg-light pb-5">
  <div class="block container">
    <div class="row g-5">
      <!-- Languages -->
      <div class="col-12 col-md-6 custom-padding-right">
        <div class="text-center">
          <h2 class="block-heading">Languages</h2>
          <p class="mt-4">Languages I love to work with</p>
        </div>
        <!-- first row-->
        <div class="row">
          <div class="col-lg-3 col-6 mt-4 pt-2">
            <div
              class="card border-0 bg-white p-3 d-flex justify-content-center align-items-center"
            >
              <div class="card-body p-0">
                <div
                  class="skill-icon rounded-circle shadow-lg d-flex justify-content-center align-items-center"
                >
                  <img
                    src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg"
                    alt="javascript"
                    class="img-fluid"
                  />
                </div>
                <span class="badge skill-badge bg-dark">JavaScript</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-6 mt-4 pt-2">
            <div
              class="card border-0 bg-white p-3 d-flex justify-content-center align-items-center"
            >
              <div class="card-body p-0">
                <div
                  class="skill-icon rounded-circle shadow-lg d-flex justify-content-center align-items-center"
                >
                  <img
                    src="https://raw.githubusercontent.com/devicons/devicon/master/icons/typescript/typescript-original.svg"
                    alt="TypeScript"
                    class="img-fluid"
                  />
                </div>
                <span class="badge skill-badge bg-dark">TypeScript</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-6 mt-4 pt-2">
            <div
              class="card border-0 bg-white p-3 d-flex justify-content-center align-items-center"
            >
              <div class="card-body p-0">
                <div
                  class="skill-icon rounded-circle shadow-lg d-flex justify-content-center align-items-center"
                >
                  <img
                    src="https://raw.githubusercontent.com/devicons/devicon/master/icons/csharp/csharp-original.svg"
                    alt="C#"
                    class="img-fluid mx-auto my-4"
                  />
                </div>
                <span class="badge skill-badge bg-dark">C#</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-6 mt-4 pt-2">
            <div
              class="card border-0 bg-white p-3 d-flex justify-content-center align-items-center"
            >
              <div class="card-body p-0">
                <div
                  class="skill-icon rounded-circle shadow-lg d-flex justify-content-center align-items-center"
                >
                  <img
                    src="https://raw.githubusercontent.com/devicons/devicon/master/icons/ruby/ruby-original.svg"
                    alt="Ruby"
                    class="img-fluid"
                  />
                </div>
                <span class="badge skill-badge bg-dark">Ruby</span>
              </div>
            </div>
          </div>
        </div>
        <!-- second row-->
        <div class="row">
          <div class="col-lg-3 col-6 mt-4 pt-2">
            <div
              class="card border-0 bg-white p-3 d-flex justify-content-center align-items-center"
            >
              <div class="card-body p-0">
                <div
                  class="skill-icon rounded-circle shadow-lg d-flex justify-content-center align-items-center"
                >
                  <img
                    src="https://raw.githubusercontent.com/devicons/devicon/master/icons/rails/rails-original-wordmark.svg"
                    alt="rails"
                    class="img-fluid"
                  />
                </div>
                <span class="badge skill-badge bg-dark">Ruby on Rails</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-6 mt-4 pt-2">
            <div
              class="card border-0 bg-white p-3 d-flex justify-content-center align-items-center"
            >
              <div class="card-body p-0">
                <div
                  class="skill-icon rounded-circle shadow-lg d-flex justify-content-center align-items-center"
                >
                  <img
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nestjs/nestjs-original.svg"
                    alt="nestjs"
                    class="img-fluid"
                  />
                </div>
                <span class="badge skill-badge bg-dark">NestJs</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-6 mt-4 pt-2">
            <div
              class="card border-0 bg-white p-3 d-flex justify-content-center align-items-center"
            >
              <div class="card-body p-0">
                <div
                  class="skill-icon rounded-circle shadow-lg d-flex justify-content-center align-items-center"
                >
                  <img
                    src="https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-original-wordmark.svg"
                    alt="nodejs"
                    class="img-fluid"
                  />
                </div>
                <span class="badge skill-badge bg-dark">NodeJs</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-6 mt-4 pt-2">
            <div
              class="card border-0 bg-white p-3 d-flex justify-content-center align-items-center"
            >
              <div class="card-body p-0">
                <div
                  class="skill-icon rounded-circle shadow-lg d-flex justify-content-center align-items-center"
                >
                  <img
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg"
                    alt="Ruby"
                    class="img-fluid"
                  />
                </div>
                <span class="badge skill-badge bg-dark">React</span>
              </div>
            </div>
          </div>
        </div>
        <!-- third row-->
        <div class="row">
          <div class="col-lg-3 col-6 mt-4 pt-2">
            <div
              class="card border-0 bg-white p-3 d-flex justify-content-center align-items-center"
            >
              <div class="card-body p-0">
                <div
                  class="skill-icon rounded-circle shadow-lg d-flex justify-content-center align-items-center"
                >
                  <img
                    src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg"
                    alt="html"
                    class="img-fluid"
                  />
                </div>
                <span class="badge skill-badge bg-dark">Html5</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-6 mt-4 pt-2">
            <div
              class="card border-0 bg-white p-3 d-flex justify-content-center align-items-center"
            >
              <div class="card-body p-0">
                <div
                  class="skill-icon rounded-circle shadow-lg d-flex justify-content-center align-items-center"
                >
                  <img
                    src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg"
                    alt="css"
                    class="img-fluid mx-auto my-4"
                  />
                </div>
                <span class="badge skill-badge bg-dark">Css3</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-6 mt-4 pt-2">
            <div
              class="card border-0 bg-white p-3 d-flex justify-content-center align-items-center"
            >
              <div class="card-body p-0">
                <div
                  class="skill-icon rounded-circle shadow-lg d-flex justify-content-center align-items-center"
                >
                  <img
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/dart/dart-original.svg"
                    alt="dart"
                    class="img-fluid"
                  />
                </div>
                <span class="badge skill-badge bg-dark">Dart</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-6 mt-4 pt-2">
            <div
              class="card border-0 text-center bg-white p-3 d-flex justify-content-center align-items-center"
            >
              <div class="card-body p-0">
                <div
                  class="skill-icon rounded-circle shadow-lg d-flex justify-content-center align-items-center"
                >
                  <img
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nextjs/nextjs-original.svg"
                    alt="next"
                    class="img-fluid"
                  />
                </div>
                <span class="badge skill-badge bg-dark">Next</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of languages -->

      <!-- Tools -->
      <div class="col-12 col-md-6 custom-padding-left">
        <div class="text-center">
          <h2 class="block-heading">Tools</h2>
          <p class="mt-4">Some of the tools I use</p>
        </div>
        <!--first row-->
        <div class="row">
          <div class="col-lg-3 col-6 mt-4 pt-2">
            <div
              class="card border-0 bg-white p-3 d-flex justify-content-center align-items-center"
            >
              <div class="card-body p-0">
                <div
                  class="skill-icon rounded-circle shadow-lg d-flex justify-content-center align-items-center"
                >
                  <img
                    src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mysql/mysql-original-wordmark.svg"
                    alt="mysql"
                    class="img-fluid"
                  />
                </div>
                <span class="badge skill-badge bg-dark">MySQL</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-6 mt-4 pt-2">
            <div
              class="card border-0 bg-white p-3 d-flex justify-content-center align-items-center"
            >
              <div class="card-body p-0">
                <div
                  class="skill-icon rounded-circle shadow-lg d-flex justify-content-center align-items-center"
                >
                  <img
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postgresql/postgresql-original.svg"
                    alt="postgresql"
                    class="img-fluid"
                  />
                </div>
                <span class="badge skill-badge bg-dark">Postgresql</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-6 mt-4 pt-2">
            <div
              class="card border-0 bg-white p-3 d-flex justify-content-center align-items-center"
            >
              <div class="card-body p-0">
                <div
                  class="skill-icon rounded-circle shadow-lg d-flex justify-content-center align-items-center"
                >
                  <img
                    src="https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg"
                    alt="git"
                    class="img-fluid"
                  />
                </div>
                <span class="badge skill-badge bg-dark">Git</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-6 mt-4 pt-2">
            <div
              class="card border-0 bg-white p-3 d-flex justify-content-center align-items-center"
            >
              <div class="card-body p-0">
                <div
                  class="skill-icon rounded-circle shadow-lg d-flex justify-content-center align-items-center"
                >
                  <img
                    src="https://raw.githubusercontent.com/devicons/devicon/master/icons/docker/docker-original-wordmark.svg"
                    alt="docker"
                    class="img-fluid"
                  />
                </div>
                <span class="badge skill-badge bg-dark">Docker</span>
              </div>
            </div>
          </div>
        </div>
        <!--second row-->
        <div class="row">
          <div class="col-lg-3 col-6 mt-4 pt-2">
            <div
              class="card border-0 bg-white p-3 d-flex justify-content-center align-items-center"
            >
              <div class="card-body p-0">
                <div
                  class="skill-icon rounded-circle shadow-lg d-flex justify-content-center align-items-center"
                >
                  <img
                    src="https://raw.githubusercontent.com/devicons/devicon/master/icons/redis/redis-original-wordmark.svg"
                    alt="redis"
                    class="img-fluid"
                  />
                </div>
                <span class="badge skill-badge bg-dark">Redis</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-6 mt-4 pt-2">
            <div
              class="card border-0 bg-white p-3 d-flex justify-content-center align-items-center"
            >
              <div class="card-body p-0">
                <div
                  class="skill-icon rounded-circle shadow-lg d-flex justify-content-center align-items-center"
                >
                  <img
                    src="https://www.vectorlogo.zone/logos/getpostman/getpostman-icon.svg"
                    alt="postman"
                    class="img-fluid"
                  />
                </div>
                <span class="badge skill-badge bg-dark">Postman</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-6 mt-4 pt-2">
            <div
              class="card border-0 bg-white p-3 d-flex justify-content-center align-items-center"
            >
              <div class="card-body p-0">
                <div
                  class="skill-icon rounded-circle shadow-lg d-flex justify-content-center align-items-center"
                >
                  <img
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mongodb/mongodb-original.svg"
                    alt="mongodb"
                    class="img-fluid"
                  />
                </div>
                <span class="badge skill-badge bg-dark">MongoDB</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-6 mt-4 pt-2">
            <div
              class="card border-0 bg-white p-3 d-flex justify-content-center align-items-center"
            >
              <div class="card-body p-0">
                <div
                  class="skill-icon rounded-circle shadow-lg d-flex justify-content-center align-items-center"
                >
                  <img
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/firebase/firebase-original.svg"
                    alt="firebase"
                    class="img-fluid"
                  />
                </div>
                <span class="badge skill-badge bg-dark">Firebase</span>
              </div>
            </div>
          </div>
        </div>
        <!--third row-->
        <div class="row"></div>
      </div>
      <!-- end of tools -->
    </div>
  </div>
</section>
<!-- End of Tech Stack-->

<!-- Projects -->
<section class="block mx-auto" id="projects">
  <div class="container mx-auto">
    <header class="block-header text-center">
      <h2 class="block-heading">My Digital Experience</h2>
      <p class="block-text mt-5">A showcase of Projects</p>
    </header>
    <div class="row g-3 block-container mx-auto">
      <div class="col-md-4 col-12 mt-4 pt-4">
        <!-- first project -->
        <div
          class="card border-0 d-block overflow-hidden rounded bg-light showcase py-1"
        >
          <div class="card-body text-center">
            <img
              class="img-fluid"
              src="images/project1_image.png"
              alt=""
              style="height: 300px"
            />
            <div class="card-body-text text-start ms-3">
              <h5 class="mb-2">
                <a class="title" style="color: #8492a6" href="">View Project</a>
              </h5>
              <h6 class="text-dark tag mb-3">besaCare Health App</h6>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-12 mt-4 pt-4">
        <!-- second project -->
        <div
          class="card border-0 d-block overflow-hidden rounded bg-light showcase py-2"
        >
          <div class="card-body text-center">
            <img
              class="img-fluid"
              src="images/project2_image.jpg"
              alt=""
              style="height: 300px"
            />
            <div class="card-body-text text-start ms-3">
              <h5 class="mb-2">
                <a class="title" style="color: #8492a6" href="">View Project</a>
              </h5>
              <h6 class="text-dark tag mb-3">Visitor Management App</h6>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-12 mt-4 pt-4">
        <!-- third project -->
        <div
          class="card border-0 d-block overflow-hidden rounded bg-light showcase py-2"
        >
          <div class="card-body text-center">
            <img
              class="img-fluid"
              src="images/project3_image.png"
              alt=""
              style="height: 300px"
            />
            <div class="card-body-text text-start ms-3">
              <h5 class="mb-2">
                <a class="title" style="color: #8492a6" href="">View Project</a>
              </h5>
              <h6 class="text-dark tag mb-3">Dropin Ride Sharing App</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End of Projects-->

<!-- Contact Start -->
<section class="block pb-5" id="contact">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <div class="container-title text-center mb-4 pb-2">
          <div class="titles">
            <h2 class="block-heading title text-capitalize mb-4">Contact Me</h2>
            <p class="pera-title para-desc-600 text-light-muted mb-0 mx-auto">
              Do not hesitate to contact me for all your projects needs. Reach
              out now let's start an awesome partnership.
            </p>
            <span></span>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->

    <div class="row">
      <div class="col-md-4 mt-4 pt-2">
        <div class="contact-detail text-center">
          <div class="icon">
            <i class="bi bi-telephone fs-1"></i>
          </div>
          <div class="content mt-4">
            <h3 class="title">Phone</h3>
            <p class="text-light-muted">
              I am a call away for your next project or as your next hire.
            </p>
            <a href="tel:+233541456349" class="text-primary"
              >+233 54 1456 349</a
            >
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-md-4 mt-4 pt-2">
        <div class="contact-detail text-center">
          <div class="icon">
            <i class="bi bi-envelope fs-1"></i>
          </div>
          <div class="content mt-4">
            <h3 class="title">Email</h3>
            <p class="text-light-muted">
              Email me on any projects you have in mind and let's get the
              discussions going.
            </p>
            <a href="mailto:evansasiedu352@gmail.com" class="text-primary"
              >evansasiedu352@gmail.com</a
            >
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-md-4 mt-4 pt-2">
        <div class="contact-detail text-center">
          <div class="icon">
            <i class="bi bi-geo-alt fs-1"></i>
          </div>
          <div class="content mt-4">
            <h3 class="title">Location</h3>
            <p class="text-light-muted">
              Takoradi, <br />
              Western Region, Ghana.
            </p>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>

<!-- End of contact -->

<!-- Footer Start -->
<footer class="block footer bg-light pt-2 pb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h2 class="block-heading">Socials</h2>
        <p class="para-desc mx-auto mt-5 text-black">
          Want to know me more, then let's connect via my social accounts
        </p>
        <ul class="list-unstyled mb-0 mt-4 social-icon">
          <li class="list-inline-item ms-3">
            <a href="https://github.com/Evans-Asiedu" target="_blank"
              ><i class="bi bi-github"></i
            ></a>
          </li>
          <li class="list-inline-item ms-3">
            <a
              href="https://www.linkedin.com/in/evans-kesse-asiedu/"
              target="_blank"
              ><i class="bi bi-linkedin"></i
            ></a>
          </li>
        </ul>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</footer>
<!-- Footer End -->
