<!-- Projects -->
<section class="block mx-auto">
  <div class="container mx-auto">
    <header class="block-header text-center">
      <h3>My Digital Experience</h3>
      <p class="block-text mt-5">A showcase of Projects</p>
    </header>
    <div class="row g-3 block-container mx-auto">
      <div class="col-md-4 col-12 mt-4 pt-4">
        <!-- first project -->
        <div
          class="card border-0 d-block overflow-hidden rounded bg-secondary showcase py-1"
        >
          <div class="card-body text-center">
            <img
              class="img-fluid"
              src="images/project1_image.png"
              alt=""
              style="height: 300px"
            />
            <div class="card-body-text text-start ms-3">
              <h5 class="mb-2">
                <a class="title" style="color: #8492a6" href="">View Project</a>
              </h5>
              <h6 class="text-light tag mb-3">besaCare Health App</h6>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-12 mt-4 pt-4">
        <!-- second project -->
        <div
          class="card border-0 d-block overflow-hidden rounded bg-secondary showcase py-2"
        >
          <div class="card-body text-center">
            <img
              class="img-fluid"
              src="images/project2_image.jpg"
              alt=""
              style="height: 300px"
            />
            <div class="card-body-text text-start ms-3">
              <h5 class="mb-2">
                <a class="title" style="color: #8492a6" href="">View Project</a>
              </h5>
              <h6 class="text-light tag mb-3">Visitor Management App</h6>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-12 mt-4 pt-4">
        <!-- third project -->
        <div
          class="card border-0 d-block overflow-hidden rounded bg-secondary showcase py-2"
        >
          <div class="card-body text-center">
            <img
              class="img-fluid"
              src="images/project3_image.png"
              alt=""
              style="height: 300px"
            />
            <div class="card-body-text text-start ms-3">
              <h5 class="mb-2">
                <a class="title" style="color: #8492a6" href="">View Project</a>
              </h5>
              <h6 class="text-light tag mb-3">Dropin Ride Sharing App</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- End of Projects-->
