<!-- Projects -->
<section class="block" id="projects">
  <div class="container mx-auto">
    <header class="block-header text-center">
      <h2 class="block-heading">My Digital Experience</h2>
      <p class="block-text mt-5">A showcase of projects I have worked on</p>
    </header>
    <div class="row g-3 block-container mx-auto">
      <div class="col-md-4 col-12 mt-4 pt-4">
        <!-- first project -->
        <div
          class="card border-0 d-block overflow-hidden rounded bg-light showcase py-1"
        >
          <div class="card-body text-center">
            <a href="https://moshify-dusky.vercel.app/" target="_blank">
              <img
                class="img-fluid"
                src="images/moshify.PNG"
                alt=""
                style="height: 300px"
              />
            </a>
          </div>
          <div class="mx-4 d-flex flex-row justify-content-between">
            <h6>
              <a
                class="text-dark tag mb-3"
                href="https://moshify-dusky.vercel.app/"
                target="_blank"
                >Moshify</a
              >
            </h6>
            <h6>
              <a
                class="text-dark tag mb-3"
                href="https://github.com/Evans-Asiedu/moshify"
                target="_blank"
                >View Code</a
              >
            </h6>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-12 mt-4 pt-4">
        <!-- second project -->
        <div
          class="card border-0 d-block overflow-hidden rounded bg-light showcase py-2"
        >
          <div class="card-body text-center">
            <a href="https://issue-tracker-tau-lac.vercel.app/" target="_blank">
              <img
                class="img-fluid"
                src="images/issuetracker.png"
                alt=""
                style="height: 300px"
              />
            </a>
          </div>
          <div class="mx-4 d-flex flex-row justify-content-between">
            <h6>
              <a
                class="text-dark tag mb-3"
                href="https://issue-tracker-tau-lac.vercel.app/"
                target="_blank"
                >Issue Tracker</a
              >
            </h6>
            <h6>
              <a
                class="text-dark tag mb-3"
                href="https://github.com/Evans-Asiedu/issue-tracker"
                target="_blank"
                >View Code</a
              >
            </h6>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-12 mt-4 pt-4">
        <!-- third project -->
        <div
          class="card border-0 d-block overflow-hidden rounded bg-light showcase py-2"
        >
          <div class="card-body text-center">
            <a
              href="https://play.google.com/store/apps/details?id=com.dropinghana.rider&hl=en"
              target="_blank"
            >
              <img
                class="img-fluid"
                src="images/project3_image.png"
                alt=""
                style="height: 300px"
              />
            </a>
          </div>
          <div class="mx-4 d-flex flex-row justify-content-between">
            <h6>
              <a
                class="text-dark tag mb-3"
                href="https://play.google.com/store/apps/details?id=com.dropinghana.rider&hl=en"
                target="_blank"
                >Dropin Ride Sharing App</a
              >
            </h6>
            <!-- <h6><a class="text-dark tag mb-3" href="https://github.com/Evans-Asiedu/issue-tracker" target="_blank">View Code</a></h6> -->
          </div>
        </div>
      </div>

      <div class="col-md-4 col-12 mt-4 pt-4">
        <!-- fourth project -->
        <div
          class="card border-0 d-block overflow-hidden rounded bg-light showcase py-1"
        >
          <div class="card-body text-center">
            <a href="https://book-hub-delta.vercel.app/" target="_blank">
              <img
                class="img-fluid"
                src="images/bookhub.PNG"
                alt=""
                style="height: 300px"
              />
            </a>
          </div>
          <div class="mx-4 d-flex flex-row justify-content-between">
            <h6>
              <a
                class="text-dark tag mb-3"
                href="https://book-hub-delta.vercel.app/"
                target="_blank"
                >BookHub</a
              >
            </h6>
            <h6>
              <a
                class="text-dark tag mb-3"
                href="https://github.com/Evans-Asiedu/bookhub"
                target="_blank"
                >View Code</a
              >
            </h6>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-12 mt-4 pt-4">
        <!-- fifth project -->
        <div
          class="card border-0 d-block overflow-hidden rounded bg-light showcase py-1"
        >
          <div class="card-body text-center">
            <a href="https://youtu.be/aUNDtUalD1I" target="_blank">
              <img
                class="img-fluid"
                src="images/bday.png"
                alt=""
                style="height: 300px"
              />
            </a>
          </div>
          <div class="mx-4 d-flex flex-row justify-content-between">
            <h6>
              <a
                class="text-dark tag mb-3"
                href="https://youtu.be/aUNDtUalD1I"
                target="_blank"
                >BDay App</a
              >
            </h6>
            <h6>
              <a
                class="text-dark tag mb-3"
                href="https://github.com/Evans-Asiedu/bday"
                target="_blank"
                >View Code</a
              >
            </h6>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-12 mt-4 pt-4">
        <!-- Sixth project -->
        <div
          class="card border-0 d-block overflow-hidden rounded bg-light showcase py-1"
        >
          <div class="card-body text-center">
            <a href="https://youtu.be/EoFyklnoAcI" target="_blank">
              <img
                class="img-fluid"
                src="images/bookcare.PNG"
                alt=""
                style="height: 300px"
              />
            </a>
          </div>
          <div class="mx-4 d-flex flex-row justify-content-between">
            <h6>
              <a
                class="text-dark tag mb-3"
                href="https://youtu.be/EoFyklnoAcI"
                target="_blank"
                >BookCare</a
              >
            </h6>
            <h6>
              <a
                class="text-dark tag mb-3"
                href="https://github.com/Evans-Asiedu/healthcare-app"
                target="_blank"
                >View Code</a
              >
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End of Projects-->
