    <!-- Services  -->
    <section class="block bg-light" id="services">
      <div class="container mx-auto">
        <header class="block-header text-center">
          <h2 class="block-heading">Services</h2>
          <p class="block-text mt-5">A showcase of my work scope</p>
        </header>
        <div class="row g-3">
          <div class="col-md-4 col-12 mt-4 pt-4">
            <!-- first project -->
            <div class="card text-center bg-light">
              <div class="custom-card-icon" style="position: relative;">
                <!-- <i class="bi bi-phone fs-1"></i> -->
                <img src="images/web-programming.png" alt="">
              </div>
              <div class="card-body">
                <h2 class="card-title">Website Development</h2>
                <p class="card-text">
                  I build stunningly attractive and responsive websites that are
                  user-friendly and easy to use, for organizations, technology
                  start-ups, professionals, small or large businesses across a
                  wide of industries.
                </p>
              </div>
            </div>
            </div>
            <div class="col-md-4 col-12 mt-4 pt-4">
              <!-- second project -->
              <div class="card text-center bg-light">
                <div class="custom-card-icon" style="position: relative;">
                  <!-- <i class="bi bi-phone fs-1"></i> -->
                  <img src="images/webapp-development.png" alt="">
                </div>
                <div class="card-body">
                  <h2 class="card-title">Web Application Development</h2>
                  <p class="card-text">
                    I create scalable web applications designed to solve business challenges. 
                    By leveraging modern technologies, I build user-centric web apps 
                    that enhance productivity and deliver exceptional performance.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-12 mt-4 pt-4 text-center">
              <!-- third project -->
              <div class="card bg-light">
                <div class="custom-card-icon" style="position: relative;">
                  <!-- <i class="bi bi-phone fs-1"></i> -->
                  <img src="images/app-development.png" alt="">
                </div>
                <div class="card-body">
                  <h2 class="card-title">Mobile App Development</h2>
                  <p class="card-text">
                    I develop intuitive, high-performance mobile apps that 
                    provide seamless user experiences. Whether for startups, 
                    businesses, or organizations across various industries, 
                    I build apps that are tailored to meet needs.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End of Services-->
  