   <!-- Services  -->
   <section class="block" id="projects">
    <div class="container mx-auto">
      <header class="block-header text-center">
        <h2 class="block-heading">Services</h2>
        <p class="block-text mt-5">A showcase of Projects</p>
      </header>
      <div class="row g-3">
        <div class="col-md-4 col-12 mt-4 pt-4">
          <!-- first project -->
          <div class="card text-center bg-light">
            <div class="custom-card-icon" style="position: relative;">
              <i class="bi bi-phone fs-1"></i>
            </div>
            <div class="card-body">
              <h2 class="card-title">Website Development</h2>
              <p class="card-text">
                I build stunningly attractive and responsive websites that are
                user-friendly and easy to use, for organizations, technology
                start-ups, professionals, small or large businesses across a
                wide of industries.
              </p>
            </div>
          </div>
          </div>
          <div class="col-md-4 col-12 mt-4 pt-4">
            <!-- second project -->
            <div class="card text-center bg-light">
              <div class="custom-card-icon" style="position: relative;">
                <i class="bi bi-phone fs-1"></i>
              </div>
              <div class="card-body">
                <h2 class="card-title">Web Application Development</h2>
                <p class="card-text">
                  I build stunningly attractive and responsive websites that
                  are user-friendly and easy to use, for organizations,
                  technology start-ups, professionals, small or large
                  businesses across a wide of industries.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-12 mt-4 pt-4 text-center">
            <!-- third project -->
            <div class="card bg-light">
              <div class="custom-card-icon" style="position: relative;">
                <i class="bi bi-phone fs-1"></i>
              </div>
              <div class="card-body">
                <h2 class="card-title">Mobile App Development</h2>
                <p class="card-text">
                  I build stunningly attractive and responsive websites that
                  are user-friendly and easy to use, for organizations,
                  technology start-ups, professionals, small or large
                  businesses across a wide of industries.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End of Services-->