<!-- Skills -->
<section class="block">
  <div class="container mx-auto">
    <div class="animate__animated animate__fadeIn" style="animation-delay: 0ms">
      <div class="my-4">
        <header class="block-header text-center">
          <h2 class="block-heading">Skills</h2>
          <p class="block-text mt-3">
            A list of languages and tools I like to use
          </p>
        </header>
        <ul class="list mt-5 d-flex p-2 flex-wrap">
          <li class="px-2 py-1 m-1 text-light rounded">HTML5/CSS3</li>
          <li class="px-2 py-1 m-1 text-light rounded">JavaScript</li>
          <li class="px-2 py-1 m-1 text-light rounded">TypeScript</li>
          <li class="px-2 py-1 m-1 text-light rounded">React</li>
          <li class="px-2 py-1 m-1 text-light rounded">Next.js</li>
          <li class="px-2 py-1 m-1 text-light rounded">Bootstrap</li>
          <li class="px-2 py-1 m-1 text-light rounded">Tailwind CSS</li>
          <li class="px-2 py-1 m-1 text-light rounded">Sass</li>
          <li class="px-2 py-1 m-1 text-light rounded">Jest</li>
          <li class="px-2 py-1 m-1 text-light rounded">
            React Testing Library
          </li>
          <li class="px-2 py-1 m-1 text-light rounded">Redux</li>
          <li class="px-2 py-1 m-1 text-light rounded">Redux Toolkit</li>
          <li class="px-2 py-1 m-1 text-light rounded">RESTful APIs</li>
          <li class="px-2 py-1 m-1 text-light rounded">Dart</li>
          <li class="px-2 py-1 m-1 text-light rounded">Flutter</li>
          <li class="px-2 py-1 m-1 text-light rounded">MongoDB</li>
          <li class="px-2 py-1 m-1 text-light rounded">MySQL</li>
          <li class="px-2 py-1 m-1 text-light rounded">Firebase</li>
          <li class="px-2 py-1 m-1 text-light rounded">Postman</li>
          <li class="px-2 py-1 m-1 text-light rounded">Git / GitHub</li>
          <li class="px-2 py-1 m-1 text-light rounded">Docker</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- End of Skills-->
