<!-- Tech Stack -->
<section class="block">
  <div class="container">
    <div class="row g-5">
      <!-- Languages -->
      <div class="col-12 col-md-6 custom-padding-right">
        <div class="text-center">
          <h2 class="block-heading">Languages</h2>
          <p class="mt-4">Languages I love to work with</p>
        </div>
        <!-- first row-->
        <div class="row">
          <div class="col-lg-3 col-6 mt-4 pt-2">
            <div
              class="card border-0 bg-white p-3 d-flex justify-content-center align-items-center"
            >
              <div class="card-body p-0">
                <div
                  class="skill-icon rounded-circle shadow-lg d-flex justify-content-center align-items-center"
                >
                  <img
                    src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg"
                    alt="html"
                    class="img-fluid"
                  />
                </div>
                <span class="badge skill-badge bg-dark">Html5</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-6 mt-4 pt-2">
            <div
              class="card border-0 bg-white p-3 d-flex justify-content-center align-items-center"
            >
              <div class="card-body p-0">
                <div
                  class="skill-icon rounded-circle shadow-lg d-flex justify-content-center align-items-center"
                >
                  <img
                    src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg"
                    alt="css"
                    class="img-fluid mx-auto my-4"
                  />
                </div>
                <span class="badge skill-badge bg-dark">Css3</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-6 mt-4 pt-2">
            <div
              class="card border-0 bg-white p-3 d-flex justify-content-center align-items-center"
            >
              <div class="card-body p-0">
                <div
                  class="skill-icon rounded-circle shadow-lg d-flex justify-content-center align-items-center"
                >
                  <img
                    src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg"
                    alt="javascript"
                    class="img-fluid"
                  />
                </div>
                <span class="badge skill-badge bg-dark">JavaScript</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-6 mt-4 pt-2">
            <div
              class="card border-0 bg-white p-3 d-flex justify-content-center align-items-center"
            >
              <div class="card-body p-0">
                <div
                  class="skill-icon rounded-circle shadow-lg d-flex justify-content-center align-items-center"
                >
                  <img
                    src="https://raw.githubusercontent.com/devicons/devicon/master/icons/typescript/typescript-original.svg"
                    alt="TypeScript"
                    class="img-fluid"
                  />
                </div>
                <span class="badge skill-badge bg-dark">TypeScript</span>
              </div>
            </div>
          </div>
        </div>
        <!-- second row-->
        <div class="row">
          <div class="col-lg-3 col-6 mt-4 pt-2">
            <div
              class="card border-0 text-center bg-white p-3 d-flex justify-content-center align-items-center"
            >
              <div class="card-body p-0">
                <div
                  class="skill-icon rounded-circle shadow-lg d-flex justify-content-center align-items-center"
                >
                  <img
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nextjs/nextjs-original.svg"
                    alt="next"
                    class="img-fluid"
                  />
                </div>
                <span class="badge skill-badge bg-dark">Next</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-6 mt-4 pt-2">
            <div
              class="card border-0 bg-white p-3 d-flex justify-content-center align-items-center"
            >
              <div class="card-body p-0">
                <div
                  class="skill-icon rounded-circle shadow-lg d-flex justify-content-center align-items-center"
                >
                  <img
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg"
                    alt="Ruby"
                    class="img-fluid"
                  />
                </div>
                <span class="badge skill-badge bg-dark">React</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-6 mt-4 pt-2">
            <div
              class="card border-0 bg-white p-3 d-flex justify-content-center align-items-center"
            >
              <div class="card-body p-0">
                <div
                  class="skill-icon rounded-circle shadow-lg d-flex justify-content-center align-items-center"
                >
                  <img
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/dart/dart-original.svg"
                    alt="dart"
                    class="img-fluid"
                  />
                </div>
                <span class="badge skill-badge bg-dark">Dart</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-6 mt-4 pt-2">
            <div
              class="card border-0 bg-white p-3 d-flex justify-content-center align-items-center"
            >
              <div class="card-body p-0">
                <div
                  class="skill-icon rounded-circle shadow-lg d-flex justify-content-center align-items-center"
                >
                  <img
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/flutter/flutter-original.svg"
                    alt="Ruby"
                    class="img-fluid"
                  />
                </div>
                <span class="badge skill-badge bg-dark">Flutter</span>
              </div>
            </div>
          </div>
        </div>
        <!-- third row-->
      </div>
      <!-- end of languages -->

      <!-- Tools -->
      <div class="col-12 col-md-6 custom-padding-left">
        <div class="text-center">
          <h2 class="block-heading">Tools</h2>
          <p class="mt-4">Some of the tools I use</p>
        </div>
        <!--first row-->
        <div class="row">
          <div class="col-lg-3 col-6 mt-4 pt-2">
            <div
              class="card border-0 bg-white p-3 d-flex justify-content-center align-items-center"
            >
              <div class="card-body p-0">
                <div
                  class="skill-icon rounded-circle shadow-lg d-flex justify-content-center align-items-center"
                >
                  <img
                    src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mysql/mysql-original-wordmark.svg"
                    alt="mysql"
                    class="img-fluid"
                  />
                </div>
                <span class="badge skill-badge bg-dark">MySQL</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-6 mt-4 pt-2">
            <div
              class="card border-0 bg-white p-3 d-flex justify-content-center align-items-center"
            >
              <div class="card-body p-0">
                <div
                  class="skill-icon rounded-circle shadow-lg d-flex justify-content-center align-items-center"
                >
                  <img
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mongodb/mongodb-original.svg"
                    alt="mongodb"
                    class="img-fluid"
                  />
                </div>
                <span class="badge skill-badge bg-dark">MongoDB</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-6 mt-4 pt-2">
            <div
              class="card border-0 bg-white p-3 d-flex justify-content-center align-items-center"
            >
              <div class="card-body p-0">
                <div
                  class="skill-icon rounded-circle shadow-lg d-flex justify-content-center align-items-center"
                >
                  <img
                    src="https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg"
                    alt="git"
                    class="img-fluid"
                  />
                </div>
                <span class="badge skill-badge bg-dark">Git</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-6 mt-4 pt-2">
            <div
              class="card border-0 bg-white p-3 d-flex justify-content-center align-items-center"
            >
              <div class="card-body p-0">
                <div
                  class="skill-icon rounded-circle shadow-lg d-flex justify-content-center align-items-center"
                >
                  <img
                    src="https://raw.githubusercontent.com/devicons/devicon/master/icons/docker/docker-original-wordmark.svg"
                    alt="docker"
                    class="img-fluid"
                  />
                </div>
                <span class="badge skill-badge bg-dark">Docker</span>
              </div>
            </div>
          </div>
        </div>
        <!--second row-->
        <div class="row">
          <div class="col-lg-3 col-6 mt-4 pt-2">
            <div
              class="card border-0 bg-white p-3 d-flex justify-content-center align-items-center"
            >
              <div class="card-body p-0">
                <div
                  class="skill-icon rounded-circle shadow-lg d-flex justify-content-center align-items-center"
                >
                  <img
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bootstrap/bootstrap-original.svg"
                    alt="redis"
                    class="img-fluid"
                  />
                </div>
                <span class="badge skill-badge bg-dark">Bootstrap</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-6 mt-4 pt-2">
            <div
              class="card border-0 bg-white p-3 d-flex justify-content-center align-items-center"
            >
              <div class="card-body p-0">
                <div
                  class="skill-icon rounded-circle shadow-lg d-flex justify-content-center align-items-center"
                >
                  <img
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg"
                    alt="tailwindcss"
                    class="img-fluid"
                  />
                </div>
                <span class="badge skill-badge bg-dark">Tailwind</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-6 mt-4 pt-2">
            <div
              class="card border-0 bg-white p-3 d-flex justify-content-center align-items-center"
            >
              <div class="card-body p-0">
                <div
                  class="skill-icon rounded-circle shadow-lg d-flex justify-content-center align-items-center"
                >
                  <img
                    src="https://www.vectorlogo.zone/logos/getpostman/getpostman-icon.svg"
                    alt="postman"
                    class="img-fluid"
                  />
                </div>
                <span class="badge skill-badge bg-dark">Postman</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-6 mt-4 pt-2">
            <div
              class="card border-0 bg-white p-3 d-flex justify-content-center align-items-center"
            >
              <div class="card-body p-0">
                <div
                  class="skill-icon rounded-circle shadow-lg d-flex justify-content-center align-items-center"
                >
                  <img
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/firebase/firebase-original.svg"
                    alt="firebase"
                    class="img-fluid"
                  />
                </div>
                <span class="badge skill-badge bg-dark">Firebase</span>
              </div>
            </div>
          </div>
        </div>
        <!--third row-->
        <div class="row"></div>
      </div>
      <!-- end of tools -->
    </div>
  </div>
</section>
<!-- End of Tech Stack-->
